#1 de abril de 2016

#El modelo aditivo es apropiado cuando la magnitud de las fluctuaciones estacionales de la serie
#no varía al hacerlo la tendencia.
#Se usa el modelo multiplicativo cuando la magnitud de las fluctuaciones estacionales de la serie
#crece y decrece proporcionalmente con los crecimientos y decrecimientos de la tendencia.

#### una vez que logramos descomponer la st en diversos los elementos de estacionalidad 
#y tendencia hay que desestacionalizar la st y eliminar la tendencia ######

#### EXISTE TENDENCIA CUANDO existe un patron en los datos a largo plazo, ya sea 
### que aumenta o disminuye los datos 
##### La estacionalidad existe cuando 
### la ST cuando es influenciado por factores estacionales (por ejemplo, el
###trimestre del año , el mes , o el día de la semana).--La longitud es constante.
### existen componentes ciclicos en los datos cuando 
##se detectan  incrementos y caídas que no son de tiempo determinado
##(duración por lo general de al menos 2 años ).

### DE estos 3 elementos normalmente existen confusiones para detectarlos entre 
### la estacionalidad y el componente ciclico
###Principales diferencias entre estos dos componentes 
# 1( patrón estacional longitud constante ; patrón cíclico Longitud variable
# 2(  duración media del componente ciclico  más largo que la longitud del patrón estacional)
#3) magnitud de ciclico más variable que magnitud del patrón estacional
#4)  El momento de picos y caidas es predecible con los datos estacionales 
#, pero impredecible a largo plazo con datos cíclicos .

install.packages("fpp")
require(fpp)
data(elec)
plot(window(elec,start=1980),ylab="GWh",xlab="Year",main="Australian electricity production")
##ESTACIONALIDAD, TENDENCIA ALCISTA Y no CICLICO
plot(bricksq,ylab="million units",xlab="Year",main="Australian clay brick production")
###ESTACIONALIDAD Y CICLO; NO MUCHO TENDENCIOA
plot(hsales,main="Sales of new one-family houses, USA",ylab="Total sales",xlab="Year")
#NO ESTACIONALIDAD NI TENDENCIA; POSIBLE CICLO
###############3EJEMPLOS GRAFICAS DETECTAR TENDENCIA, ESTACIONALIDAD Y CICLO


apple <- read.csv ("C:/Users/SALA-C15/Desktop/Bimbo.csv", header = T)
apple_ts <- ts(apple[,1], start = 2004, frequency = 12)
plot(apple_ts)
seasonplot(apple_ts)
monthplot(apple_ts)
#ANÁLISIS
#De forma general en la gráfica no existe una tendencia, pero hasta el 2011 aproximadamente
#Se puede observar una tendencia alcista, seguido de bajas e inestabilidad.
#No se observar estacionalidad ni patrones cíclicos.
#No parece una buena acción para invertir porque está en niveles muy bajos y no parece
#que pronto vaya a comenzar a subir.

ica <- read.csv ("C:/Users/SALA-C15/Desktop/indica.csv", header = T)
ica_ts <- ts(ica, start = 2000, frequency = 12)
plot(ica_ts)
seasonplot(ica_ts)
monthplot(ica_ts)
#En esta gráfica no existe ninguna tendencia y el comportamiento es muy errático
#No se observa tampoco estacionalidad, pero hay algunos cambios abruptos que 
#son patrones cíclicos, que varíane en magnitud.
#Su tendencia general es la baja desde hace unos 3 años.
#No se recomienda invertir.

netflix <- read.csv ("C:/Users/SALA-C15/Desktop/Microsoft.csv", header = T)
netflix_ts <- ts(netflix[,5], start = 2012, frequency = 12)
plot(netflix_ts)
seasonplot(netflix_ts)
monthplot(netflix_ts)
#Esta acción tenía una tendencia mayormente alcista hasta el 2015, donde sufre una gran caída.
#Hay algunos cambios abruptos, que son patrones cíclicos.
#No se recomienda invertir.

#Graficar las 3 juntas
pdf(file="Graficas_acciones.pdf")
ts.plot(apple_ts, ica_ts, netflix_ts, col=1:3, main="Verde=Netflix, Negro=ICA, Rojo=Apple")
dev.off()

